Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div{
    border-top: 5px solid rebeccapurple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 750px;
  }
  

  label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 350px;
    height: 40px;
    background-color: black;
    color: white;

    input[type=checkbox]:checked + label{
      background-color: rebeccapurple;
    }
  }

  
}



.admin{
  background-color: white;
  width: 10vw;
  color: black;
}

.groupName{
  width: 250px;
  margin: 5px;
  padding: 3.5px;
  height: 25px;
  font-size: 18px;
}

.header{
  border-bottom: 2px solid steelblue;
}